footer {
    height: 100%; 
    padding-top: 50px;
    & .policies {
        display: flex;
        align-items: center;
        justify-content: space-around;
        & .policies_left {
            width: 14%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            & ul {
                display: flex;
                list-style: none;
            };

            & li > a {
                @for $i from 1 to 4 {
                    @include Font(11px, 300);
                    color: map-get($colorPalette, text);
                    text-decoration: none;
                    margin-left: 15px;
                }  
            }

        }
    }
}