footer {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .policies {
        width: 100%;
        display: flex;
        justify-content:center;
        align-items: center;
    
    & .footer_align {
        display: flex;
        justify-content: space-between;
        width: 51%;
    }

        & .policies_left {
            & ul {
                list-style: none;
                display: flex;

                & li {
                    padding-right: 15px;
                }
            }
            
            & li > a {
                @for $i from 1 to 4 {
                    @include Font(11px, 300);
                    color: map-get($colorPalette, text);
                    text-decoration: none;
                    
                }  
            }

        }
        & .policies_right {
            & select {
                width: 170px;
            }
        } 
    }
}