@mixin SectionDimension ($w, $h) {
    width: $w;
    height: $h;
};

@mixin Font ($dimension, $weight) {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: $dimension;
    font-weight: $weight;
};

$colorPalette: (
    "text"black,
    "link": blue

);

