@mixin SectionDimension ($w, $h) {
    width: $w;
    height: $h;
};

@mixin Font ($dimension, $weight) {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: $dimension;
    font-weight: $weight;
};

$colorPalette: (
    "border": gray,
    "text": #5f6368,
    "link": #3367D6,
    "question": #3C4043,
    "answer": black
);

